* {
  box-sizing: border-box;
}

body {
  background: black;
}

.container {
  position: relative;
  margin: 200px auto;
  width: 300px;
  height: 300px;
  perspective: 500px;
}

.cube {
  width: inherit;
  height: inherit;
  transform-style: preserve-3d;
  transition: 1s;
}

.side {
  position: absolute;
  border: 5px solid white;
  width: inherit;
  height: inherit;
  backface-visibility: hidden;
  background: rgb(24, 230, 202);
}

.front {
  transform: translateZ(150px);
}

.back {
  transform: rotateY(180deg) translateZ(150px);
}

.right {
  transform: rotateY(90deg) translateZ(150px);
}

.left {
  transform: rotateY(-90deg) translateZ(150px);
}

.top {
  transform: rotateX(90deg) translateZ(150px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(150px);
}
